*{box-sizing: border-box;
padding: 0;
margin: 0;}
#root{
  height: 100%;
  background-color:#e0e7ea;
}
.App {
  text-align: center;
  height: 100%;
}
#TaskContainer
{
  margin:15px auto;
  background-color: #b9c8d9;
  height: 75%;
  width:85%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:10px;
}
.Header{padding-top:15px;}

input[type=text]{
  margin:15px;
  text-align: center;
  width:50%;
  height: 5%;
  border-radius: 50px;
  color:white;
  font-size: 1.2rem;
  border:none;
  outline:none;
}
input[type=text]:focus{
  background-color: #96b7d8;
}
button{
  height: 5%;
  width: 10%;
  border:none;
  border-radius:50px;
  font-size: 20px;
  background-color: #96b7d8;
}

button:hover{
  background-color: #7b96b0;
}
.Task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 10px;
  width: 80%;
  border-radius: 50px;
  background-color: rgb(222, 171, 120);
  color: white;
}